/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#0.1	Global Elements 

=========================================================
1.	index page
=========================================================
#1.1	header
#1.2	offer
#1.3	intro
#1.4	our-portfolio
#1.5	become-a-part
#1.6	features
#1.7	intro-2
#1.8	number
#1.9	testimonials
#1.10	services
#1.11	partners
#1.12	pricing
#1.13	video-bg
#1.14	become-a-part-common
#1.15	why-choose-us
#1.16	tweets
#1.17	our-blog 
#1.18	contact
#1.19	footer
#1.20	home-video-section


=========================================================
2.	about-us
=========================================================
#2.1	why-choose
#2.2	about-section-video


=========================================================
3.	services
=========================================================
#3.1	wp
#3.2	web
#3.3	best-services


=========================================================
4.	portfolio
=========================================================
#4.1	projects


=========================================================
5.	portfolio-details
=========================================================
#5.1	portfolio-details-portfolio


=========================================================
6.	contact-page
=========================================================
#6.1	contact


=========================================================
7.	blog
=========================================================
#7.1	blog-main-content


=========================================================
8.	blog-details
=========================================================
#8.1	blog-header
#8.2	blog-main-content


=========================================================
8.	404
=========================================================
#8.1	content-404


--------------------------------------------------------------*/



/*--------------------------------------------------------------
#0.1	Global Elements 
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	header .header-title h1 {
		font-size: 50px;
	}

	header .header-title p {
		font-size: 25px;
	}

	h2 {
		font-size: 30px;
	}

	.section-heading h2:after {
		top: 58px;
	}
}

@media only screen and (max-width: 767px) {
	.section-heading .col {
		padding: 0 25px;
	}

	.section-heading p {
		font-size: 16px;
	}

	header .header-title h1 {
		font-size: 30px;
	}

	header .header-title p {
		font-size: 18px;
	}

	h2 {
		font-size: 22px;
	}

	section h2:after {
		top: 50px;
	}

	.section-heading h2:after {
		top: 50px;
	}

	a.back-to-top {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}

	.video a {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 20px;
	}
}



/*=========================================================
1.	index page
=========================================================*/

/*--------------------------------------------------------------
#1.1	header
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	header .navbar .navbar-form {
	    float: left !important;
	    margin-top: 0px;
	    margin-bottom: 20px;
	    padding-left: 0px;
	    margin-left: -12px;
    }

	header .navbar-brand {
		margin-left: 0 !important;
	}

}

@media only screen and (max-width: 991px) {
	/*navigation*/
	header .navbar-header {
		width: 100%;
	}

	header .navbar .navbar-brand {
		padding-right: 0;
		position: relative;
		left: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}

	header .navbar .navbar-form {
	    position: relative;
	    left: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
    }

    /*slider*/
	header .home-slider .container h1 {
		font-size: 52px;
		margin-top: 150px;
	}

	header .home-slider .container p {
		color: #fff;
		font-size: 28px;
	}

	.home-slider .owl-controls {
		left: 50%;
		bottom: 0 !important;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}
}

@media only screen and (max-width: 767px) {
	/*navbar header*/
	header .navbar .navbar-brand {
		margin-bottom: 15px;
		margin-right: 0;
		left: 85px;
	}

	header .navbar-header button {
		border: 1px solid #fff;
		margin-top: 23px;
	}

	header .navbar-header button span {
		background-color: #fff;
	}

	/*navigation link*/
	header .navbar .navbar-nav {
		margin-top: 0;
	}

	header .navbar a {
	    line-height: 50px !important;
	    padding-left: 25px;
	}

	header #navbar a:hover {
		background-color: #fff !important;
	}


	/*drop down menu setting*/
	header .dropdown-menu a {
		padding-left: 45px !important;
		line-height: 35px !important;
	}

	/*navbar serach*/
	header .navbar .navbar-form {
		border: 0;
		left: 100px !important;
	}
}

@media only screen and (max-width: 650px) {
	header .home-slider .container h1 {
		font-size: 28px;
		margin-top: 240px;
	}

	header .home-slider .container p {
		color: #fff;
		font-size: 18px;
		margin-top: 10px;
	}

	.home-slider .container a {
		line-height: 35px !important;
		padding: 0 20px !important;
	}

}

@media only screen and (max-width: 420px) {
	header .home-slider .container h1 {
		font-size: 20px;
		margin-top: 280px;
	}

	header .home-slider .container p {
		color: #fff;
		font-size: 15px;
		margin-bottom: 10px;
	}

	.home-slider .container p + a {
		margin-right: 10px !important;
	}

	.home-slider .container a {
		font-size: 12px !important;
		font-weight: normal !important;
		line-height: 30px !important;
		padding: 0 10px !important;
	}

	.home-slider .owl-pagination .owl-page span {
		width: 8px;
		height: 8px;
	}

}



/*--------------------------------------------------------------
#1.2	offer
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	.offer .col {
		padding: 0;
	}
}

@media only screen and (max-width: 991px) {
	/*offer icons*/
	.offer .col span {
		width: 80px;
		height: 80px;
		border: 0;
	}

	.offer .col span i {
		width: 80px;
		height: 80px;
		line-height: 80px;
		font-size: 30px;
		margin-top: 0;
	}
}

@media only screen and (max-width: 767px) {
	.offer .col {
		padding: 0 15px;
		margin-bottom: 80px;
	}

	.offer .container .col:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 600px) {
	.offer .col {
		width: 100%;
	}
}



/*--------------------------------------------------------------
#1.3	intro
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	.intro .middle div {
		border: 0 ;
	}

	.intro .col {
		padding-top: 0;
	}

	.intro .middle + .col {
		padding-top: 40px;
	}

}



/*--------------------------------------------------------------
#1.4	our-portfolio
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.our-portfolio h3 {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0;
	}

	.our-portfolio .row:nth-child(2) .col p {
		font-size: 12px;
		line-height: 15px;
	}
}

@media only screen and (max-width: 767px) {
	.our-portfolio .col img {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.our-portfolio .col {
		width: 100%;
	}
}



/*--------------------------------------------------------------
#1.5	become-a-part
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	.become-a-part {
		margin-top: -2px;
	}
	
	.become-a-part p {
		font-size: 20px;
	}
}

@media only screen and (max-width: 991px) {
	.become-a-part .col a {
		padding: 0 55px;
	}
}

@media only screen and (max-width: 767px) {
	.become-a-part p {
		text-align: center;
	}
}



/*--------------------------------------------------------------
#1.6	features
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.features .col {
		padding-left: 5px;
		padding-right: 5px;
	}

	.features .col div {
		padding-left: 60px;
	}
}



@media only screen and (max-width: 767px) {
	.features .col {
		padding: 0 15px 40px;
	}

	.features .col div {
		padding: 0 0 40px 80px;
	}
}



/*--------------------------------------------------------------
#1.7	intro-2
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	.intro-2 h2 {
		font-size: 30px;
	}

	.intro-2 .container .iphone {
		width: 90%;
		left: 10%;
		top: 15px;
	}
}

@media only screen and (max-width: 991px) {
	.intro-2 h2 {
		font-size: 25px;
	}

	.intro-2 .container .iphone {
		width: 100%;
		left: 0;
		top: 80px;
	}

	.intro-2 .container .col:last-child {
		padding-left: 0;
	}
}

@media only screen and (max-width: 767px) {
	.intro-2 .container .iphone {
		display: none;
	}

	.intro-2 .container .col:last-child {
		padding: 0 0 0 15px;
	}
}

@media only screen and (max-width: 410px) {
	.intro-2 h2:after {
		margin-top: 15px;
	}
}



/*--------------------------------------------------------------
#1.8	number
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.number .col {
		padding: 50px 0;
		border-right: 1px dashed #363b44;
	}

	.number .col span {
		font-size: 40px;
	}
}


@media only screen and (max-width: 767px) {
	.number .col {
		padding: 20px 0 20px;
	}

	.number .col i {
		top: 30px;
	}

	.number .col span {
		margin-top: 55px;
	}

}


/*--------------------------------------------------------------
#1.9	testimonials
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.testimonials {
		padding: 100px 5%;
	}

	.testimonials .comment {
		font-size: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.testimonials {
		padding: 100px 20px 60px;
	}

	.testimonials .comment {
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 70px;
	}
}



/*--------------------------------------------------------------
#1.10	services
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	.services .what-we-do {
		padding-left: 25px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.services .what-we-do h3 {
		font-size: 24px;
	}
}



/*--------------------------------------------------------------
#1.11	partners
--------------------------------------------------------------*/
/*@media only screen and (max-width: 1199px) {
	.partners .section-heading {
		padding-left: 20%;
		padding-right: 20%;
	}
}
*/
/*@media only screen and (max-width: 991px) {
	.partners .section-heading {
		padding-left: 5%;
		padding-right: 5%;
	}
}
*/
@media only screen and (max-width: 767px) {
	.partners {
		background-image: none;
		padding-bottom: 100px;
	}

/*	.partners .section-heading {
		padding-left: 15px;
		padding-right: 15px;
	}
*/
	.partners .col div {
		border-bottom: 1px dashed #d6d4d9 !important;
	}

	.partners .col div:after {
		display: none;
	}
}



/*--------------------------------------------------------------
#1.12	pricing
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.pricing {
		background-size: 140%;
	}

	.pricing .pricing-title {
		border-top: 1px solid #eaeaea;
	}

	.pricing .pricing-title h3 {
		font-size: 24px;
	}

	.pricing .pricing-title p {
		font-size: 17px;
		font-weight: lighter;
		margin-top: 0;
	}

	/*pricing-details*/
	.pricing .pricing-details {
		padding: 20px 5px;
	}

	.pricing .pricing-details a {
		line-height: 42px;
		padding: 0 12px;
	}
}

@media only screen and (max-width: 767px) {
	.pricing {
		background-color: #4b4a46;
		background-size: 160%;
	}

	.pricing .section-heading p {
		color: #fff !important;
	}

	.pricing .col {
		width: 90%;
		margin: 0 auto 80px;
	}

	.pricing .last {
		margin-bottom: 0;
	}
	
	/*hover*/
	.pricing .col:hover .pricing-details {
		box-shadow: none;
	}

	.pricing .col:hover .pricing-title {
		border-color: transparent;
	}
}



/*--------------------------------------------------------------
#1.13	video-bg
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.video-bg h2 {
		font-size: 22px;
	}
}

@media only screen and (max-width: 767px) {
	.video-bg h2 {
		line-height: 35px;	
	}
}



/*--------------------------------------------------------------
#1.14	become-a-part-common
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	.become-a-part-common p {
		font-size: 20px;
	}

	.become-a-part-common .col a {
		padding: 0 55px;
	}
}

@media only screen and (max-width: 991px) {
	.become-a-part-common .col a {
		padding: 0 35px;
	}
}

@media only screen and (max-width: 767px) {
	.become-a-part-common .col {
		text-align: center;
	}

	.become-a-part-common p {
		text-align: center;
	}

	.become-a-part-common .col a {
		margin-top: 15px;
	}
}



/*--------------------------------------------------------------
#1.15	why-choose-us
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.why-choose-us .col {
		padding-left: 0;
	}

	.why-choose-us .circle {
		margin-left: -30px;
	}
}

@media only screen and (max-width: 767px) {
	.why-choose-us .col {
		padding-left: 25px;
	}

	.why-choose-us .circle {
		margin-left: -30px;
	}
}

@media only screen and (max-width: 500px) {
	.why-choose-us .circle {
		display: none;
	}
}

@media only screen and (max-width: 387px) {
	.why-choose-us h2 {
		line-height: 33px;
		padding-bottom: 40px;
	}

	.why-choose-us h2:after {
		margin-top: 20px;
	}
}



/*--------------------------------------------------------------
#1.16	tweets
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	.tweets {
		height: 600px;
	}

	.tweets .col p {
		font-size: 20px;
		padding: 0 5%;
		margin: 50px 0;
	}
}

@media only screen and (max-width: 767px) {
	.tweets .col p {
		font-size: 18px;
		padding: 0 15px;
	}
}



/*--------------------------------------------------------------
#1.17	our-blog 
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	.our-blog .col h3 a {
		font-size: 20px;
		font-weight: lighter;
		line-height: 30px;
	}
}

@media only screen and (max-width: 991px) {
	.our-blog .col h3 a {
		font-size: 17px;
		line-height: 25px;
	}
}

@media only screen and (max-width: 767px) {
	.our-blog .col img {
		width: 100%;
	}
}



/*--------------------------------------------------------------
#1.18	contact
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	/*.contact .section-heading {
		padding-left:  15px;
		padding-right:  15px;
	}*/

	.contact .container form input,
	.contact .container form select {
		width: 95% ;
	}
}



/*--------------------------------------------------------------
#1.19	footer
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	footer .copyright ul {
		float: left;
		margin-top: 20px;
	}

	footer .row:first-child {
		background-color: #242427;
		padding: 0 0 50px 0;
	}
}



/*--------------------------------------------------------------
#1.20	home-video-section
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	 #home-video-section {
		padding-top: 150px;
		padding-bottom: 150px;
		height: 100%;
	}

	#home-video-section .col {
		position: relative;
		bottom: -120px;
	}

	#home-video-section a {
		position: absolute;
		top: -30%;
	}

	#home-video-section h2 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 460px) {
	#home-video-section h2 {
		font-size: 20px;
		line-height: 30px;
	}
}



/*=========================================================
2.	about-us
=========================================================*/

/*--------------------------------------------------------------
#2.1	why-choose
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	#about-us .why-choose-us .section-heading {
		padding-left: 15px;
	}

	#about-us .why-choose-us .col {
		padding-left: 15px;
	}
}



/*--------------------------------------------------------------
#2.2	about-section-video
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	#about-section-video {
		height: 100%;
		padding: 200px 0;
	}
}




/*=========================================================
3.	services
=========================================================*/

/*--------------------------------------------------------------
#3.1	wp
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	#services .wp .iphone {
		right: -10%;
	}
}

@media only screen and (max-width: 991px) {
	#services .wp .iphone {
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	#services .wp {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}



/*--------------------------------------------------------------
#3.2	web
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	#services .web h2:after {
		left: 85px;
	}
	#services .web .row .col:first-child {
		padding: 0 0 50px;
	}

	#services .web .row .col:last-child {
		padding-left: 35px;
	}
}



/*--------------------------------------------------------------
#3.3	best-services
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	#services .best-services .container .col div {
		min-height: 385px;
		padding: 65px 30px;
	}
}

@media only screen and (max-width: 1199px) {
	#services .best-services .container .col div {
		min-height: 370px;
		padding: 45px 10px;
	}
}



/*=========================================================
4.	portfolio
=========================================================*/

/*--------------------------------------------------------------
#4.1	projects
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	#portfolio .projects {
		margin-top: -52px;
	}

	#portfolio .projects ul li a {
		padding: 15px;
	}

	#portfolio #shuffle-wrapper .col {
		width: 33.33% !important;
	}
}

@media only screen and (max-width: 767px) {
	#portfolio .projects {
		margin-top: 0;
	}

	#portfolio .projects ul {
		background-color: rgba(0,0,0, 0.9);
	}

	#portfolio .projects ul li a {
		padding: 15px;
	}

	#portfolio .projects > .row {
		position: relative;
		left: 50% !important;
		-webkit-transform: translate(-45%);
		transform: translate(-45%);
	}

	#portfolio #shuffle-wrapper .col {
		width: 45% !important;
	}
}



/*=========================================================
5.	portfolio-details
=========================================================*/

/*--------------------------------------------------------------
#5.1	portfolio-details-portfolio
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	#portfolio-details .portfolio-details-portfolio .col {
		padding: 0;
		margin: 0;
	}

	#portfolio-details .portfolio-details-portfolio .description {
		padding: 25px 15px 0;
	}
}

@media only screen and (max-width: 400px) {
	#portfolio-details .portfolio-details-portfolio .col {
		width: 100%;
	}
}



/*=========================================================
6.	contact-page
=========================================================*/

/*--------------------------------------------------------------
#6.1	contact
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	#contact-page .submit i {
		left: 40%;
	}
}

@media only screen and (max-width: 991px) {
	#contact-page .submit i {
		left: 37%;
	}
}

@media only screen and (max-width: 767px) {
	#contact-page .contact .container form input,
	#contact-page .contact .container form select,
	#contact-page .contact .container form textarea {
		width: 90% ;
	}

	#contact-page .submit i {
		left: 10%;
	}
}



/*=========================================================
7.	blog
=========================================================*/

/*--------------------------------------------------------------
#7.1	blog-main-content
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	#blog .blog-postes {
		padding: 100px 0 0 45px;
	}
}

@media only screen and (max-width: 767px) {
	#blog .overlay + img {
		width: 100%;
	}

	#blog .sidebar .newsletter .row {
		padding-left: 15px;
	}

	#blog .blog-postes {
		padding: 60px 0 60px 15px;
	}

	#blog .sidebar,
	#blog-details .sidebar {
		padding-top: 60px !important;
		padding-bottom: 60px !important;
	}

	#blog .blog-postes .info .tag {
		display: block;
		width: 100%;
		clear: both;
		margin-top: 15px;
	}

	#blog .blog-postes .description > div:first-child {
		margin-right: 15px;
	}

	#blog .blog-postes .description h3 {
		font-size: 20px;
		line-height: 35px;
		padding-right: 5px;
	}

	#blog .blog-postes blockquote {
		padding: 20px 20px;
		color: #fff;
		font-size: 18px;
		margin-right: 15px;
	}

	#blog .pagination li {
		margin-right: 0;
	}
}




/*=========================================================
8.	blog-details
=========================================================*/

/*--------------------------------------------------------------
#8.1	blog-header
--------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
	#blog-details .blog-header-slider .container h2 {
		font-size: 36px;
		line-height: 50px;
	}
}

@media only screen and (max-width: 991px) {
	#blog-details .blog-header-slider .container img {
		margin: 40px auto 20px;
	}
}

@media only screen and (max-width: 767px) {
	#blog-details .blog-header-slider .container h2 {
		font-size: 26px;
		line-height: 50px;
	}

	#blog-details .blog-header-slider .container img {
		margin: 15px auto 10px;
	}

	#blog-details .blog-header-slider .container .name {
		font-size: 16px;
		margin-bottom: 5px;
	}
}



/*--------------------------------------------------------------
#8.2	blog-main-content
--------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	#blog-details .blog-main-content {
		background: transparent;
	}

	#blog-details .sidebar {
		height: 100% !important;
	}

	#blog-details .blog-postes {
		padding-top: 60px;
		padding-right: 15px;
	}

	#blog-details .leave-comment .form-group {
		padding-right: 0;
	}

	#blog-details .blog-postes blockquote {
		font-size: 20px;
		padding: 30px 20px;
	}
}

@media only screen and (max-width: 600px) {
	#blog-details .blog-header-slider .container h2 {
		font-size: 20px;
		line-height: 40px;
	}

	#blog-details .blog-header-slider .container img {
		width: 10%;
		margin: 10px auto 10px;
	}

	#blog-details .blog-header-slider .container .name {
		font-size: 14px;
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 500px) {
	#blog-details .blog-postes blockquote {
		font-size: 18px;
		padding: 15px;
	}
}





/*=========================================================
8.	404
=========================================================*/

/*--------------------------------------------------------------
#8.1	content-404
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
	#error-404 .content-404 p {
		font-size: 43px;
	}
}

@media only screen and (max-width: 767px) {
	#error-404 .content-404 {
		text-align: center;
		padding-top: 50px;
	}

	#error-404 .content-404 .col div {
		padding: 50px 0 0;
		margin-top: -45px;
	}

	#error-404 .content-404 h1 {
		font-size: 150px;
		margin-bottom: -60px;
	}

	#error-404 .content-404 p {
		font-size: 20px;
		margin-bottom: 25px;
	}

	#error-404 .content-404 a {
		padding: 15px 20px;	
	}
}













